:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
}
body section {
  height: 100vh;
}
body #front-page {
  height: 100vh;
  position: relative;
  color: var(--white);
  padding: 3% 5%;
}
body #front-page::before {
  content: "";
  background-image: url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.7);
}
body #front-page nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
body #front-page nav #logo {
  background-image: url(./images/logo.svg);
  width: 13rem;
  height: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
}
body #front-page nav #nav-items-container {
  display: flex;
  position: absolute;
  right: 0;
}
body #front-page nav #nav-items-container .nav-item {
  margin: 0 1rem;
  transition: border-bottom 0.2s;
}
body #front-page nav #nav-items-container .nav-item:hover {
  border-bottom: 2px solid var(--white);
}
body #front-page #front-page-text {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 660px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20%;
  border: 2px solid var(--white);
  padding: 2rem;
}
body #front-page #front-page-text p {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
}
body #mobile-side-menu {
  display: none;
}
body #second-page {
  padding: 5rem 10rem !important;
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
}
body #second-page #second-page-image-container {
  margin-top: 10%;
  width: 70%;
  min-width: 30rem;
  max-width: 70rem;
}
body #second-page #second-page-image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body #second-page #second-page-content {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 30%;
  background-color: var(--white);
  position: absolute;
  top: min(60%, 25rem);
  left: 40%;
  padding: 5rem;
  padding-right: 0;
}
body #second-page #second-page-content h1 {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}
body #second-page #second-page-content p {
  opacity: 0.5;
}
body #third-page {
  width: 100%;
}
body #third-page #third-page-header {
  display: flex;
  padding: 3rem 0;
  justify-content: space-between;
  align-items: center;
}
body #third-page #third-page-header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 350;
}
body #third-page #third-page-header #see-all-button {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid var(--black);
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1px gray;
  transition: background-color 0.2s;
}
body #third-page #third-page-header #see-all-button:hover {
  background-color: var(--black);
  color: var(--white);
}
body #third-page #third-page-grid {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
body #third-page .third-page-grid-item {
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
}
body #third-page .third-page-grid-item p {
  color: var(--white);
  position: absolute;
  bottom: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 200;
}
body #third-page #grid-item-1 {
  background-image: url(./images/desktop/image-deep-earth.jpg);
}
body #third-page #grid-item-2 {
  background-image: url(./images/desktop/image-night-arcade.jpg);
}
body #third-page #grid-item-3 {
  background-image: url(./images/desktop/image-soccer-team.jpg);
}
body #third-page #grid-item-4 {
  background-image: url(./images/desktop/image-grid.jpg);
}
body #third-page #grid-item-5 {
  background-image: url(./images/desktop/image-from-above.jpg);
}
body #third-page #grid-item-6 {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}
body #third-page #grid-item-7 {
  background-image: url(./images/desktop/image-curiosity.jpg);
}
body #third-page #grid-item-8 {
  background-image: url(./images/desktop/image-fisheye.jpg);
}

#second-page,
#third-page,
footer {
  padding: 0rem 10rem;
}

footer {
  padding: 2rem 10rem;
  background-color: var(--black);
  color: var(--white);
}
footer #footer-level-1 {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
}
footer #footer-level-1 #footer-logo {
  background-image: url(./images/logo.svg);
  width: 200px;
  height: 3.5rem;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}
footer #footer-level-1 #social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
footer #footer-level-1 #social-media-icons .social-media-icon {
  width: 20px;
  height: 20px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}
footer #footer-level-1 #social-media-icons .social-media-icon:hover {
  border-bottom: 2px solid var(--white);
  position: relative;
  top: -3px;
}
footer #footer-level-1 #social-media-icons #social-media-icon-1 {
  background-image: url(./images/icon-facebook.svg);
}
footer #footer-level-1 #social-media-icons #social-media-icon-2 {
  background-image: url(./images/icon-twitter.svg);
}
footer #footer-level-1 #social-media-icons #social-media-icon-3 {
  background-image: url(./images/icon-pinterest.svg);
}
footer #footer-level-1 #social-media-icons #social-media-icon-4 {
  background-image: url(./images/icon-instagram.svg);
}
footer #footer-level-2 {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
footer #footer-level-2 #footer-level-2-left {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
footer #footer-level-2 #footer-level-2-left div {
  transition: 0.2s;
}
footer #footer-level-2 #footer-level-2-left div:hover {
  border-bottom: 2px solid var(--white);
}
footer #footer-level-2 #footer-level-2-right {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #second-page,
  #third-page,
  footer {
    padding: 0rem 3rem;
  }
  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #third-page #third-page-header #third-page-title h1 {
    font-size: 3rem !important;
  }
  #third-page #third-page-grid {
    padding-top: 15%;
    height: 75% !important;
  }
}
@media only screen and (max-width: 767px) {
  body main {
    position: relative;
    overflow: hidden;
  }
  body main #front-page {
    position: relative;
  }
  body main #front-page::before {
    background-image: url(./images/mobile/image-hero.jpg);
    filter: none;
  }
  body main #front-page nav #nav-items-container {
    display: none;
  }
  body main #front-page nav #logo {
    background-position: center;
  }
  body main #front-page nav #hamburger-icon {
    background-image: url(./images/icon-hamburger.svg);
    width: 2rem;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #front-page #front-page-text {
    margin: 0;
    width: 90%;
    padding: 1rem;
    position: absolute;
    bottom: 50vh;
    transform: translateY(50%);
  }
  body main #front-page #front-page-text p {
    font-size: 3rem;
  }
  body main #mobile-side-menu {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 2rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: -100%;
    transition: left 1s ease-in-out;
  }
  body main #mobile-side-menu.active {
    left: 0;
  }
  body main #mobile-side-menu header {
    display: flex;
    justify-content: space-between;
  }
  body main #mobile-side-menu header #mobile-logo {
    width: 200px;
    height: 50px;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  body main #mobile-side-menu header #close-icon {
    background-image: url(./images/icon-close.svg);
    width: 2rem;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #mobile-side-menu #links-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  body main #mobile-side-menu #links-container .mobile-link {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    transition: 0.2s;
    width: -moz-fit-content;
    width: fit-content;
  }
  body main #mobile-side-menu #links-container .mobile-link:hover {
    border-bottom: 2px solid var(--white);
  }
  body main #second-page {
    padding: 2rem !important;
    height: auto;
  }
  body main #second-page #second-page-main-container {
    width: 100%;
    height: 100%;
  }
  body main #second-page #second-page-main-container #second-page-image-container {
    width: 100%;
    min-width: 0;
    margin-top: 20%;
  }
  body main #second-page #second-page-main-container #second-page-content {
    display: block;
    width: 100%;
    max-height: none;
    position: static;
    padding: 0;
    text-align: center;
  }
  body main #second-page #second-page-main-container #second-page-content h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  body main #second-page #second-page-main-container #second-page-content p {
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  body main #third-page {
    padding: 2rem !important;
    position: relative;
    height: auto;
    margin-bottom: 4rem;
  }
  body main #third-page #third-page-header #see-all-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  body main #third-page #third-page-grid {
    display: flex;
    flex-direction: column;
  }
  body main #third-page #third-page-grid .third-page-grid-item {
    width: 100%;
    height: 7rem;
  }
  body main #third-page #third-page-grid #grid-item-1 {
    background-image: url(./images/mobile/image-deep-earth.jpg);
  }
  body main #third-page #third-page-grid #grid-item-2 {
    background-image: url(./images/mobile/image-night-arcade.jpg);
  }
  body main #third-page #third-page-grid #grid-item-3 {
    background-image: url(./images/mobile/image-soccer-team.jpg);
  }
  body main #third-page #third-page-grid #grid-item-4 {
    background-image: url(./images/mobile/image-grid.jpg);
  }
  body main #third-page #third-page-grid #grid-item-5 {
    background-image: url(./images/mobile/image-from-above.jpg);
  }
  body main #third-page #third-page-grid #grid-item-6 {
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
  }
  body main #third-page #third-page-grid #grid-item-7 {
    background-image: url(./images/mobile/image-curiosity.jpg);
  }
  body main #third-page #third-page-grid #grid-item-8 {
    background-image: url(./images/mobile/image-fisheye.jpg);
  }
  body footer {
    display: flex;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  body footer #footer-level-1,
  body footer #footer-level-2 {
    flex-direction: column;
  }
  body footer #footer-level-1 {
    order: 2;
  }
  body footer #footer-level-1 #social-media-icons {
    width: 100%;
    padding: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  body footer #footer-level-1 #footer-logo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  body footer #footer-level-2 {
    order: 1;
    align-items: center;
  }
  body footer #footer-level-2 #footer-level-2-left {
    flex-direction: column;
    align-items: center;
  }
  body footer #footer-level-2 #footer-level-2-left .footer-item {
    padding: 1rem;
    font-size: large;
  }
  body footer #footer-level-2 #footer-level-2-right {
    position: absolute;
    bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */